<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Quiz de NOËL</title>
</head>
<body>
    <h1>Quiz de NOËL</h1>

  <% for ( const question of questions ) { %> 
    <table>
        <tr>
            <%= question %> 
        </tr>
        <tr>
            <p>réponse1</p><input type="checkbox" name="réponse1" id="1">
            <p>réponse2</p><input type="checkbox" name="réponse2" id="2">
            <p>réponse3</p><input type="checkbox" name="réponse3" id="3">
            
        </tr>
    </table>
    <% } %> 
</body>
</html>